.modal-button {
    background-color: var(--background) !important;
    color: var(--text) !important;
    font-size: 10pt !important;
    font-family: var(--font) !important;
    border-color: var(--accent) !important;
    border-width: 1px !important;
    width: fit-content;
}

.modal-content,
.toast {
    background-color: var(--primary) !important;
    font-size: 11pt !important;
    font-family: var(--font);
    border-color: var(--text) !important;
    border-width: 2px !important;
}

.modal-content {
    background-color: var(--primary) !important;
    color: var(--text) !important;
}

.toast {
    float: right;
    z-index: 500;
    position: relative;
    margin-right: 10rem;
    margin-top: 10rem;
}

#close-toast {
    float: right;
    text-decoration: none;
    color: var(--text);
}

#d7-image {
    height: 350px;
    border: solid;
    border-color: var(--accent);
    border-width: 2px;
    margin: auto;
    margin-bottom: 20px;
}

/* Tooltip-Container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Tooltip-Text */
  .tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%; /* über dem Element */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 10pt;
    white-space: nowrap;
    z-index: 1000;
  }
  